.idea/
*.iml
*.class
src/main/generated-java
src/test/generated-java
src/main/webapp
src/main/resources
src/main/config/celerio-maven-plugin/metadata.xml
src/main/config/glassfish
target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
